@import "tailwindcss";

@theme {
  --color-background: #FFFFFF;
  --color-foreground: #D9D9D9;
  --color-primary: #C8BCF6;
  --color-secondary: #C0BFBD;
  --color-font: var(--color-black);
}

body{
  width: 100vh;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  font-family: "Notable", sans-serif;
  font-weight: 600;
  color: var(--color-font);
  font-style: normal;
}